* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 100%;

  background-color: #2f2844;
  color: #fff;
}

h1 {
  margin-bottom: 15px;
}

div {
  width: 100%;
  height: 100%;
  /* margin: 20px; */
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-container ul {
  width: 100%;
  max-width: 400px;
  max-height: 400px;

  overflow: auto;

  padding: 30px;
  border-radius: 4px;

  background-color: #1f1b29;
}

div li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}
